<suite name="TestSuite">
    <listeners>
        <listener class-name="utilites.Listeners"/>
    </listeners>
    <test name="SeleniumFirstTest" preserve-order="true">
    <classes>
       <class name="selenium.TestngCase">
            <methods>
            <include name="hotelBasicInfo"/>
            <include name="hotelAdvansedInfo"/>
            </methods>
        </class>
    </classes>
    </test>
</suite>
